# Track all files in attachments with Git LFS
attachments/** filter=lfs diff=lfs merge=lfs -text

# Except for Publications folder - keep as regular Git objects
attachments/Publications/** -filter -diff -merge -text

